* {
	margin:0;
    font-family: 'europa', sans-serif;
}

.bold {
    font-weight: 700;
}
.bigbold {
    font-weight: 700;
    font-size:1.5em;
}
/*logo*/
.logohead {
    text-align: center;
    margin: 50px auto 0 auto;
}
/*Navigation bar*/
.topnav{
    display: table;
    margin: 0 auto;
    text-align: center;
	padding:25px 0 25px 0;
}
.topnav li {
		list-style-type: none;
		float: left;
	color:#B2B2B2;

}
.topnav li a {
	color:#B2B2B2;
	text-decoration: none;		
	padding-bottom:20px;
	padding: 0px 10px 0px 10px;
    font-family: 'europa', sans-serif;
    font-size:1em;
    font-weight: 100;
}
/* Hover photo effect */

/* code from http://www.corelangs.com/css/box/hover.html*/

.pic1, .pic2,.pic2,.pic3,.pic4,.pic5,.pic6{
    width:400px; 
    height:400px;
    float:left;
    margin:2.7%;   
}

.pic1 a, .pic2 a,.pic2 a,.pic3 a,.pic4 a,.pic5 a,.pic6.a{ 
text-decoration: none}

.pic1{
    background: url("Images/Home/apple_pb_oats_home.jpg")  
}
.pic2{
    background: url("Images/Home/mango_coconut_sorbet_home.jpg")  
}
.pic3{
    background: url("Images/Home/apple_pb_oats_home.jpg")  
}
.pic4{
    background: url("Images/Home/apple_pb_oats_home.jpg")  
}
.pic5{
    background: url("Images/Home/apple_pb_oats_home.jpg")  
}
.pic6{
    background: url("Images/Home/apple_pb_oats_home.jpg")  
}

.text{ 
    width:400px; 
    height:200px; 
    background:#FFF; 
    opacity:0;
}

.pic1:hover .text { 
    opacity:0.6; 
    text-align:center; color:#000000; 
    font-size:20px; 
    font-weight:700;
    padding-top:200px;
  } 
.pic2:hover .text { 
    opacity:0.6; 
    text-align:center; color:#000000; 
    font-size:20px; 
    font-weight:700;
    padding-top:200px
}
.pic3:hover .text { 
    opacity:0.6; 
    text-align:center; color:#000000; 
    font-size:20px; 
    font-weight:700;
    padding-top:200px
    }
.pic4:hover .text { 
    opacity:0.6; 
    text-align:center; color:#000000; 
    font-size:20px; 
    font-weight:700;
    padding-top:200px
    }
.pic5:hover .text { 
    opacity:0.6; 
    text-align:center; color:#000000; 
    font-size:20px; 
    font-weight:700;
    padding-top:200px
    }
.pic6:hover .text { 
    opacity:0.6; 
    text-align:center; color:#000000; 
    font-size:20px; 
    font-weight:700;
    padding-top:200px
    }
        
/*about me page*/

.aboutme {
    font-weight:100;
    margin:50px;
    width: 50%;
}
.aboutme p {
    margin-bottom: 10px;
    float: right;
    display: block;
}

.aboutmepic img{
    width:30%;
    float:right;
    display:block;
    margin-top:50px;
    margin-right:8%
}
h1 {
    font-family: "europa" serif;
    font-weight: 100;
    text-align: center;
    color: black;
    padding-top: 20px;
    padding-bottom:20px;
}
/*article listings*/

.imgdeslow {
    font-size: 1em;
    font-weight:100;
    color: darkgrey;
}
.container a {
    text-decoration: none;
}
.container img {
    margin-bottom: 10px;
}
/*recipe article*/
.recipe{
    padding:20px;
}
.smbutton{
    width:50px;
    height: auto;
    display: inline;
}
.smbutton img {
    width:40px;
    align-content: left;
}
.titleheader{
    display: inline
}

.blogheadpic{
    width:100%; 
}

.blogtext{
    width:70%;
    margin:20px auto;
}
.recipe h1{
    text-align: ;
    padding-left:12px;
}

.imgcon .recipeheadpic{
    width:50%;
}

.recipeheadpic {
    width:50%;
    padding-left: 25%;
}
.imgcon2 {
        width:100%;
        margin-left:8%;
}

.imgcon2 .recipeheadpic {
    width: 40%;
    padding-left: 0;
    display: inline-block;
    float: left;
    padding:10px;
    padding-bottom: 30px;
}
.recipeintro {
    width:50%;
    padding-left:25%;
}
.recipeintro span{
    line-height: 1.5;
}
.recipeintro p{
    padding-top:20px;
    line-height:1.5;
}
.recipebox {
    border: solid 2px;
    border-color: black;
    width:50%;
    margin: auto;
    margin-top: 30px;
    
}
.recipetitlebox h1{
    font-size: 1.5em;
    background-color: black;
    color: white;
    padding-left:20px;
    padding-right:20px;
    font-family: "europa" sans-serif;
}
.recipebox h2 {
    font-size: 1.2em;
    font-weight: 400;
}
.servingsize {
    margin-left: 20px;
    margin-top: 20px;
}
.inglist {
padding:20px;
}
.recipeins {
    padding:20px;
}
/*recipe footer*/
.trynewrecipes {
    padding-top: 30px;
    width:100%;
}
.trynewrecipes img {
    width: 100%;
    
}
.trynewrecipes .container {
width: 20%
}
.trynewrecipes h3 {
    font-size: 1.6em;
    text-align:center;
    font-weight:300;
    color:black;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    padding-top:9px;
    padding-bottom:10px;
    margin-top 100px;
    margin-bottom:30px;
}
.trynewrecipes p {
    font-size:1em;
    text-align: center
}
.trynewrecipes a {
    text-decoration: none;
    color:black
}
.copyright {
    text-align: center;
    color: white;
    background-color: black;
    padding-bottom:9px;
    padding-top: 6px;
    margin-top: 150px;
    float:left;
    width:100%;
}
input{
    margin-left:43%;

}
.contactform p{
    width: 60%;
    margin:0 auto;
    text-align: center
}